
{{#if savedQuestions.questions}}
  {{#each savedQuestions.questions as |question|}}
    <p>{{#link-to 'question' question.id}}{{question.title}}{{/link-to}}</p>
    <button id="delete" class="btn btn-danger btn-xs" {{action 'remove' question}}>Delete</button>
  {{/each}}
{{else}}
You haven't saved any questions yet! {{#link-to 'index'}}Click here{{/link-to}} to explore questions or ask a new question.
{{/if}}
