body, html {
  height: 100%;
}

#edit, #delete, #reply {
  float: right;
}

#check {
  margin-top: -10px;
  float:left;
}

.answered {
  float:right;
}

.container{
  padding: 30px;
  width: 800px;
    bottom: 0px;
}

.header {
  width: 100%;
  max-height: 300px;
}

.jumbotron {
  margin: 0;
  padding: 0;
}

.wrapper{
  align: top;
  position: relative;
  width: 800px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1);
  -moz-box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1);
  -webkit-box-shadow: 0px 0px 19px rgba(26, 26, 26, 0.1);
  bottom: 0px;
  height: inherit;
}

body {
  background-color: hsla(133, 7%, 56%, 0.2);
  font-family: 'Molengo', sans-serif;
}

.logo {
  font-family: 'Fredericka the Great';
  font-size: 42px;
}

#footer-wrapper {
  height:30px;
  margin-top: 200px;
}

.authorDate {
  font-size: 11px;
  color: #8B9094;
}

.copyright {
  font-size: 10px;
  bottom: 0px;
}

#downvote, #upvote{
  padding-left: 5px;
  opacity: 0.4;
}

#downvote:hover, #upvote:hover {
  cursor: pointer;
  opacity: .7;
}

.totalAnswers {
  float: right;
  font-size: 11px;
  color: #8B9094;
}

.saveButton {
  font-size: 20px;
  float: left;
}

.saveButton:hover {
  cursor: pointer;
  color: #DAB72A;
}

.saveText {
  font-size: 11px;
  color: #8B9094;
}
